<h1>Update your personal information</h1>
<%= @user.errors.full_messages.join(", ") %>
<%= form_for @user do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control"%>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control"%>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div>
    <%= f.label :old_password %>
    <%= f.password_field :old_password, class: "form-control", placeholder:"Enter your current password" %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder:"Enter your new password" %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder:"Re-enter your new password" %>
  </div>
  <%= f.submit "Update Information", class: "btn btn-primary"  %>

<% end %>
